@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://cdn.discordapp.com/attachments/1263073294983364659/1275912230189404272/image1_0.png?ex=66c79d5c&is=66c64bdc&hm=62bd364a7464ca5905d5d15e197c274615705a95f25c06fd40d755cd38ac3825&")
    no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.parent {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.parent h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

.parent .input {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 40px 20px 20px;
}

.input input::placeholder {
  color: #fff;
}

.input i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.parent .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forget label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.parent .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.parent .btn:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  border-color: #fff;
}

.parent .register {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register p a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
